.buttons__container {
  display: flex;
  flex-direction: column;
}

button {
  margin-bottom: 10px;
  cursor: pointer;
  color: white;
  background-color: rgb(77, 3, 87);
  padding: 10px 15px;
  border: 1px solid rgb(77, 3, 87);
  text-decoration: none;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  background-color: white;
  color: rgb(200, 6, 149);
  border: 1px solid rgb(77, 3, 87);
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
}

@media screen and (max-width: 600px) {
  button {
    color: white;
    padding: 10px;
    background-color: rgb(77, 3, 87);
    gap: 10px;
  }
  .buttons__container {
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 5px;
  }
}
